:root {
--surface-color: #fff;
--curve: 40;
--curvepx: calc(var(--curve)* 1px);
--lightgrey: rgba(189, 189, 189, 0.534);
--mainblue: #0d6efd;
}

* {
box-sizing: border-box;
}

header
{
    background: linear-gradient(-45deg, var(--mainblue),  var(--surface-color));
}

.body-header
{
    position: relative;
    padding: 2px 10px 2px 10px;
}

.body-header img
{
    height: 6vw;
}

.nav-item
{
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 25px;
    background: linear-gradient(-45deg, var(--surface-color), var(--mainblue));
    background-size: 200% 200%;
}

.nav-item:hover
{
    animation: Gradient 1s ease forwards;
}

.nav-link
{
    color: var(--surface-color);
}

.user-header
{
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 10px 2px 10px;
    height: 70%;
    color: var(--surface-color);
}

@media screen and (max-width: 600px) {
    .user-header
    {
        height: 100%;
    }
}

.user-header img
{
    margin-left: 5px;
    max-height: 100%;
    width: clamp(15px, 80px, 100px);
    border-radius: 25%;
    object-fit: cover;
}

.cards > h1
{
    text-align: center;
}

.cards-body
{
    margin: 4rem 5vw;
    padding: 0;
}

.cards-body > h2
{
    text-align: center;
    margin-bottom: 2vw;
}

.cards {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 2rem;
list-style-type: none;
padding: 0;
}

.card {
position: relative;
display: block;
height: 450px;
border-radius: calc(var(--curve) * 1px);
overflow: hidden;
text-decoration: none;
box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
transition: 0.3s;
outline: 0;
}

.card:hover
{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.fav-body
{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 15%;
    height: auto;
    z-index: 1;
    opacity: 0;
}

.card:hover .fav-body
{
    animation: fade-in 0.3s forwards;
}

.card__fav
{
    max-width: 100%;
    max-height: 100%;
}

.fav-icon-body
{
    position: absolute;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
    color: var(--surface-color);
    padding: 15%;
    margin-top: 4%;
}

.checkbox
{
    display: none;
}

.fav-icon
{
    width: 100%;
    height: 100%;
}


.card__image {      
    width: 100%;
    height: auto;
    min-height: 50%;
    max-height: 500px;
}

.card__overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
z-index: 1;      
border-radius: calc(var(--curve) * 1px);
border-bottom-left-radius: 0;    
border-bottom-right-radius: 0;    
background-color: var(--surface-color);
transform: translateY(100%);
transition: .2s ease-in-out;
}

.card:hover .card__overlay {
transform: translateY(0);
}

.card__header {
position: relative;
display: flex;
align-items: center;
gap: 2em;
padding: 2em;
padding-bottom: 0;
border-radius: calc(var(--curve) * 1px);
border-bottom-left-radius: 0;    
border-bottom-right-radius: 0;
background-color: var(--surface-color);
transform: translateY(-100%);
transition: .2s ease-in-out;
}

.card:hover .card__header {
transform: translateY(0);
}

.card__title {
font-size: 1.5em;
margin: 0 0 .3em;
color: #6A515E;
}

.card__tagline {
display: block;
margin: 1em 0;
font-family: "MockFlowFont";  
font-size: .8em; 
color: #D7BDCA;  
}

.card__status {
font-size: .8em;
color: #D7BDCA;
padding-top: 20px;
}

.card__description {
padding: 0em 2em 0.4em;
margin: 0;
color: #D7BDCA;
font-family: "MockFlowFont";   
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
overflow: hidden;
}

.error
{
    color: white;
}

.warning
{
    background-color: red;
    border-radius: 25px;
    height: fit-content;
    margin-bottom: 5px;
}

#tag_label
{
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
}

.body
{
    width: 50%;
    text-align: center;
    margin: auto;
}

.heading
{
    margin-bottom: 50px;
    margin-top: 50px;
}

.form-control
{
    border-radius: 25px;
}

.bottom-link
{
    text-align: center;
}

.btn-primary
{   
    border-radius: 25px;
    width: 150px;
}

td
{
    border:none;
}

.grid-container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.upload-card
{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: 25px;
    width: 250px;
    height: 250px;
    margin: 10px;
}

.upload-card:hover
{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.upload-card-header
{
    font-size: 25px;
    color: var(--mainblue);
    text-align: center;
    border-bottom-style: solid;
    padding: 5px;
}

.dropzone {
	width: 95%;
	height: 70%;
    margin: auto;
	border: 1px dashed #999;
	border-radius: 3px;
	text-align: center;
}

.upload-icon {
	margin: 25px 25px 25px 25px;
    width: 35%;
    height: 70%;
    color: rgba(128, 128, 128, 0.719);
}

.upload-input {
	position: relative;
	width: 100%;
	height: 100%;
    left: 0;
    top: -95%;
	opacity: 0;
    border-style: solid;
}

.upload-card-info
{
    font-size: 15px;
    color: rgba(128, 128, 128, 0.719);
}

.listing-body
{
    position: relative;
    margin: 2% 8% 2% 8%;
    height: 500px;
    display: grid;
    grid-gap: 50px;
}

.listing-card
{
    margin-top: 10px;
}

@keyframes slide-left {
    0% {left: 5%;}
    100% {left: 0px;}
}

@keyframes slide-right {
    0% {right: 30%; background-color: var(--surface-color);}
    100% {right: 0px; background-color: var(--mainblue);}
}
#listing-slider {
    position: relative;
    width: 70%;
    height: 500px;
    border-radius:var(--curvepx) 0px 0px var(--curvepx);
    overflow: hidden;
    float: left;
    animation: slide-left 2s;
}

.card-look
{
    border-radius: var(--curvepx);
    background: var(--surface-color);
    box-shadow: 8px 4px 8px rgba(0,0,0,0.2);
    border-left: solid;
    border-bottom:solid;
    border-width: 2px;
    border-color: rgba(128, 128, 128, 0.719);
}

.listing-info
{
    padding: 10px 20px 20px 20px;
    float: right;
    position: relative;
    width: 30%;
    height: 500px;
    background-color: var(--mainblue);
    z-index: -1;
    border-radius: 0px var(--curvepx) var(--curvepx) 0px;
    box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.2);
    border-bottom:solid;
    border-color: rgba(128, 128, 128, 0.719);
    border-width: 2px;
    animation: slide-right 2s;
}

@keyframes Gradient { 
    0%{background-position:0% 50%}
    100%{background-position:-100% 50%}
}
@keyframes Gradient-out { 
    0%{background-position:-100% 50%}
    100%{background-position:0% 50%}
}

#listing-tags
{
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    position: absolute;
    bottom: 20px;
    max-height: 40%;
    overflow: hidden;
}

.gradient-card
{
    background: linear-gradient(-45deg, var(--surface-color), var(--mainblue));
    background-size: 200% 200%;
    animation: Gradient 3s ease forwards;
    animation-delay: 1s;
    border-radius: 25px;
}

.listing-tag-box
{
    margin: 2px;
    padding: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 25px;
    width: fit-content;
}

#listing-label
{
    font-size:calc(12px + 2.0vw);
    color: var(--surface-color);
}

#listing-price
{
    font-size:calc(12px + 1.2vw);
    color: var(--surface-color);
}

#listing-description
{
    margin-top: 30px;
    font-size:calc(12px + 0.5vw);
    color: var(--surface-color);
}

.listing-profile
{
    width: 100%;
    margin: auto;
}

@keyframes fade-in {
    0% {transform: translateY(30%); opacity: 0;}
    100% {transform: translateY(0%); opacity: 100;}
}

#listing-owner
{
    padding: 10px;
    height: 100px;
    width: 100%;
    opacity: 0;
    animation: fade-in 2s forwards;
    animation-delay: 1s;
}

#listing-owner h2
{
    display: inline;
}

#listing-owner-link
{
    text-decoration: none;
}

#listing-owner-profile
{
    position: relative;
    float: left;
    height: 80px;
    width: 80px;
    overflow: hidden;
    max-height: 100%;
    margin-right: 10px;
}

#listing-owner-profile img
{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#listing-owner-buttons
{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    padding: 10px;
    margin-right: 10px;
}

#listing-owner-buttons a
{
    text-decoration: none;
    color: black;
}

.gradient-button
{
    background: linear-gradient(-45deg, var(--surface-color), red);
    background-size: 200% 200%;
    border-radius: 25px;
}

.gradient-button:hover
{
    animation: Gradient 1s ease forwards;
}

#listing-comments-card
{
    height: fit-content;
    width: 100%;
    opacity: 0;
    animation: fade-in 2s forwards;
    animation-delay: 1s;
}

#listing-comments-header
{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: var(--mainblue);
    border-radius: var(--curvepx) var(--curvepx) 0px 0px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

#listing-comments-header > h1
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--surface-color);
}

#listing-comments-empty
{
    text-align: center;
    color: rgba(128, 128, 128, 0.61);
}

#listing-comments-footer
{
    width: 100%;
    padding: 10px;
    background-color: var(--lightgrey);
    border-radius: 0px 0px var(--curvepx) var(--curvepx);
}

#listing-comment-input
{
    border-radius: var(--curvepx);
}

#listing-comment-grid
{
    padding: 10px;
    display: grid;
    grid-gap: 20px;
}

#listing-comment
{
    height: fit-content;
    width: 100%;
    overflow: auto;
}

#listing-comment-profile
{
    float: left;
    height: 80px;
    width: 80px;
    text-align: center;
}

#listing-comment-profile > h5
{
    transform: translateY(10%);
    text-align: center;
}

#listing-comment-profile img
{
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
}

.gradient-card-var2
{
    background: linear-gradient(-45deg, var(--mainblue), var(--surface-color));
    background-size: 200% 200%;
    animation: Gradient 3s ease forwards;
    animation-delay: 1s;
    border-radius: 25px;
}

.gradient-card-var3
{
    background: linear-gradient(-45deg, rgb(1, 160, 252), var(--surface-color));
    background-size: 200% 200%;
    animation: Gradient 3s ease forwards;
    animation-delay: 1s;
    border-radius: 25px;
}

#listing-comment-info
{
    float: left;
    margin-left: 10px;
    padding: 5px;
    max-width: 52%;
    word-break: break-all;
}

#listing-comment-info > h3
{
    text-overflow: ellipsis;
}

#listing-comment-info > h6
{
    display: inline;
}

#profile-wrapper
{
    margin: auto;
}

/* DO NOT TOUCH THE CODE BELOW, CAN`T BE FIXED*/
.CSSgal{
  position: relative;
  overflow: hidden;
  height:   100%; /* Or set a fixed height */
}

/* SLIDER */
.CSSgal .slider{
  height:      100%;
  white-space: nowrap;
  font-size:   0;
  transition:  0.8s;
}

/* SLIDES */
.CSSgal .slider > *{
  font-size:       1rem;
  display:         inline-block;
  vertical-align:  top;
  height:          100%;
  width:           100%;
  background:      none 50% no-repeat;
  background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */
.CSSgal .prevNext{
  position: absolute;
  z-index:  1;
  top:      50%;
  width:    100%;
  height:   0;
}
.CSSgal .prevNext > div+div{
  visibility: hidden; /* Hide all but first P/N container */
} 
.CSSgal .prevNext a{
  background:  #fff;
  position:    absolute;
  width:       40px;
  height:      40px;
  line-height: 40px;
  text-align:  center;
  opacity:     0.7;
  text-decoration:   none;
  -webkit-transform: translateY( -50% );
          transform: translateY( -50% );
}
.CSSgal .prevNext a:hover{
  opacity: 1;
}
.CSSgal .prevNext a+a{
  right: 0px;
}

.prevNext-right
{
    border-radius: 25px 0px 0px 25px;
}

.prevNext-left
{
    border-radius: 0px 25px 25px 0px;
}

/* NAVIGATION */
.CSSgal .bullets{
  position:   absolute;
  z-index:    2;
  bottom:     0;
  padding:    10px 0;
  width:      100%;
  text-align: center;
}
.CSSgal .bullets > a{
  display:         inline-block;
  width:           40px;
  height:          20px;
  line-height:     20px;
  text-decoration: none;
  text-align:      center;
  border-radius:   25px;
  background:      rgba(255,255,255,1);
}
.CSSgal .bullets > a+a{
  background: rgba(255,255,255,0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover{
  background: rgba(0,255,255,0.9);
}

/* ACTIVE NAVIGATION ANCHOR */
.CSSgal >s:target ~ .bullets >* { background: rgba(255,255,255,0.5); }
#s1:target ~ .bullets >*:nth-child(1){ background: rgba(255,255,255,  1); }
#s2:target ~ .bullets >*:nth-child(2){ background: rgba(255,255,255,  1); }
#s3:target ~ .bullets >*:nth-child(3){ background: rgba(255,255,255,  1); }
#s4:target ~ .bullets >*:nth-child(4){ background: rgba(255,255,255,  1); }

/* PREV/NEXT CONTAINERS VISIBILITY */
.CSSgal >s:target ~ .prevNext >* { visibility:  hidden; }
#s1:target ~ .prevNext >*:nth-child(1){ visibility: visible; }
#s2:target ~ .prevNext >*:nth-child(2){ visibility: visible; }
#s3:target ~ .prevNext >*:nth-child(3){ visibility: visible; }
#s4:target ~ .prevNext >*:nth-child(4){ visibility: visible; }

/* SLIDER ANIMATION POSITIONS */
#s1:target ~ .slider{ transform: translateX(   0%); -webkit-transform: translateX(   0%); }
#s2:target ~ .slider{ transform: translateX(-100%); -webkit-transform: translateX(-100%); }
#s3:target ~ .slider{ transform: translateX(-200%); -webkit-transform: translateX(-200%); }
#s4:target ~ .slider{ transform: translateX(-300%); -webkit-transform: translateX(-300%); }







