{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Pazari.bg{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="{% static 'auctions/style.css'%}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="body-header">
                <div>
                    <img src="/media/assets/logo.png">
                    <div class="user-header">
                        {% if user.is_authenticated %}
                            Signed in as <strong>{{ user.username }}</strong>.
                            <a href="{% url 'profile-page' username=user.username %}">
                                <img src="{{user.image.url}}" alt="user image">
                            </a>
                        {% else %}
                            Not signed in.
                        {% endif %}
                    </div>
                </div>
            </div>     
            <div class="body-header">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'new-listing' %}">Create New Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'wishlist' username=user.username %}">Wishlist</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <hr>
        </header>
        {% if messages %}
            <ul class="alert alert-primary" role="alert">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block body %}
        {% endblock %}
    </body>
</html>
