{% extends "auctions/layout.html" %}
{% load widget_tweaks %}
{% block body %}
    <div class="listing-body">
        {% if not listing.is_for_sale %}
            <div class="warning">
                <strong class="error">This listing is no longer for sale</strong>
            </div>
        {% endif %}
        
        <div class="listing-card">
            <div id="listing-slider", class="card-look">
                <div class="CSSgal">

                    <!-- Don't wrap targets in parent -->
                    <s id="s1"></s> 
                    <s id="s2"></s>
                    <s id="s3"></s>
                    <s id="s4"></s>
                  
                    <div class="slider">
                      <div style="background-image:url('{{listing.image.url}}');"></div>
                      <div style="background-image:url('{{listing.image1.url}}');"></div>
                      <div style="background-image:url('{{listing.image2.url}}');"></div>
                      <div style="background-image:url('{{listing.image3.url}}');"></div>
                      
                    </div>
                    
                    <div class="prevNext">
                      <div><a class="prevNext-left" href="#s4"><<</a><a class="prevNext-right" href="#s2">>></a></div>
                      <div><a class="prevNext-left" href="#s1"><<</a><a class="prevNext-right" href="#s3">>></a></div>
                      <div><a class="prevNext-left" href="#s2"><<</a><a class="prevNext-right" href="#s4">>></a></div>
                      <div><a class="prevNext-left" href="#s3"><<</a><a class="prevNext-right" href="#s1">>></a></div>
                    </div>
                  
                    <div class="bullets">
                      <a href="#s1">1</a>
                      <a href="#s2">2</a>
                      <a href="#s3">3</a>
                      <a href="#s4">4</a>
                    </div>
                </div>
            </div>
            <div class="listing-info">
                <div>
                    <h1 id="listing-label">{{listing.label}}</h1>
                    <h3 id="listing-price">Price: {{listing.price}}$</h3>
                    <h3 id="listing-description">{{listing.description}}</h3>
                </div>
                <div id="listing-tags" class="gradient-card">
                    {% for tag in listing.tag.all %}
                        <div class="listing-tag-box">
                            {{tag}}
                        </div>    
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="listing-profile">
            <div id="listing-owner" class="card-look">
                <div id="listing-owner-profile">
                    <img src="{{listing.owner.image.url}}" alt="User profile image">
                </div>
                <div>
                    <h2>Published by </h2><a href="{% url 'profile-page' username=listing.owner %}" id="listing-owner-link"><h2>{{listing.owner}}</h2></a>
                    <h4> on: {{listing.date_created}}</h4>
                </div>
                {% if listing.owner.pk == user.pk or user.is_admin %}
                    <div id="listing-owner-buttons" class="gradient-button">
                            <a href="{% url 'delete-listing' id=listing.pk %}">
                                <h2>Delete Listing</h2>
                            </a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="listing-comments-body">
            <div id="listing-comments-card" class="card-look">
                <div id="listing-comments-header">
                    <h1>Comments</h1>
                </div>
                <div id="listing-comment-grid">
                    {% for comment in comments %}
                        <div id="listing-comment">
                            <div id="listing-comment-profile">
                                <img src="{{comment.publisher.image.url}}" alt="User profile image">
                            </div>
                            {% if comment.publisher != listing.owner %}
                                <div id="listing-comment-info" class="gradient-card-var2">
                                    <h3>{{comment.body}}</h3>
                                    <h6>- {{comment.publisher}}</h6>
                                    <h6>on {{comment.date_created}}</h6>
                                </div>
                            {% else %}
                                <div id="listing-comment-info" class="gradient-card-var3">
                                    <h3>{{comment.body}}</h3>
                                    <h6>- {{comment.publisher}}</h6>
                                    <h6>on {{comment.date_created}}</h6>
                                </div>
                            {% endif %}
                        </div>
                    {% empty %}
                        <h1 id="listing-comments-empty">No comments added yet</h1>
                    {% endfor %}
                </div>
                {% if user.is_authenticated %}
                    <form action="{% url 'listing-page' id=listing.pk %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group" id="listing-comments-footer">
                            {% render_field commentForm.body id="listing-comment-input" class="form-control" placeholder="Type your comment here" type="text" %}
                        </div>
                    </form>
                {% else %}
                    <div id="listing-comments-footer">
                        <h4>You need to be logged in to comment</h4>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if user_listings%}
            <div class="listing-comments-body">
                <div id="listing-comments-card" class="card-look">
                    <div id="listing-comments-header">
                        <h1>More listings by {{listing.owner}}</h1>
                    </div>
                    <div class="cards-body">
                        <ul class="cards">
                            {%for entry in user_listings%}
                                <li>
                                    <a href="{% url 'listing-page' id=entry.listing.pk %}" class="card" id="{{forloop.counter}}">
                                            <img src="{{entry.listing.image.url}}" class="card__image" alt="listing image"/>
                                            <div class="fav-body">
                                                <svg class="card__fav" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                    <circle cx="8" cy="8" r="8"/>
                                                </svg>
                                                <div class="fav-icon-body">
                                                    <form id="fav-form{{forloop.counter}}" action="{% url 'favourite-listing' id=entry.listing.pk parentId=listing.pk pos=forloop.counter loc='listingPage' %}" method="POST">
                                                        {% csrf_token %}
                                                        <input id="checkbox{{forloop.counter}}" type="checkbox" class="checkbox" onchange="document.getElementById('fav-form{{forloop.counter}}').submit()">
                                                        <label for="checkbox{{forloop.counter}}" id="fav-icon">
                                                            {% if entry.is_favourite %}
                                                                <svg class="fav-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                                </svg>
                                                            {% else %}
                                                                <svg class="fav-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                                </svg>
                                                            {% endif %}
                                                        </label>
                                                    </form>
                                                </div>
                                            </div>
                                        <div class="card__overlay">
                                            <div class="card__header">
                                                <div class="card__header-text">
                                                    <h1 class="card__title">{{entry.listing.label}}</h1>       
                                                    <div class="card__info">
                                                        <h2 class="card__title" style="display: inline;">Price: </h2><h2 class="card_title" style="display: inline;">{{entry.listing.price}}$</h2>
                                                    </div>
                                                    
                                                    <p class="card__status">Published by {{entry.listing.owner}} on {{entry.listing.date_created}}</p>
                                                    
                                                </div>
                                            </div>
                                            <p class="card__description">{{entry.listing.description}}</p>
                                        </div>
                                    </a>      
                                  </li>
                            {% empty %}
                                <h1>No listings added yet :(</h1>    
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        <br>
    </div>

{% endblock %}