{% extends "auctions/layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="body">
        <h2 class="heading">Login</h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <td>
                        <div class="form-group">
                            <input autofocus class="form-control" type="text" name="username" placeholder="Email">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                    </td>
                </tr>
            </table>
            <input class="btn-primary" type="submit" value="Login">
        </form>

        <div class="bottom-link">Don't have an account? <a href="{% url 'register' %}">Register here.</a></div>
    </div>
{% endblock %}