{% extends "auctions/layout.html" %}
{% load widget_tweaks %}
{% block title %}New listing{% endblock %}
{% block body %}

    <div class="body">
        <h1 class="heading">Create new listing</h1>
        
        
        <form action="{% url 'new-listing' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <td>
                        <div class="form-group">
                            {% render_field form.label class="form-control" placeholder="Title" type="text" %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            {% if message %}
                                <div class="warning">
                                    <strong class="error">{{message}}</strong>
                                </div>
                            {% endif %}
                            {% render_field form.price class="form-control" placeholder="Price" type="number" %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            {% render_field form.description class="form-control" placeholder="Description" type="text" %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <div><h3 id="tag_label">Tags</h3></div>
                            {% render_field form.tag class="form-control" placeholder="Description" type="text" %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="grid-container">
                            <div class="upload-card">
                                <h1 class="upload-card-header">Main picture</h1>
                                <div class="dropzone">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="upload-icon" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
                                        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                                    </svg>
                                    {% render_field form.image class="upload-input"  placeholder="Image" type="file" %}
                                </div>
                                <h3 class="upload-card-info">Click or Drop file to upload</h3> 
                            </div>

                            <div class="upload-card">
                                <h1 class="upload-card-header">Second picture</h1>
                                <div class="dropzone">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="upload-icon" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
                                        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                                    </svg>
                                    {% render_field form.image1 class="upload-input"  placeholder="Image" type="file" %}
                                </div>
                                <h3 class="upload-card-info">Click or Drop file to upload</h3> 
                            </div>

                            <div class="upload-card">
                                <h1 class="upload-card-header">Third picture</h1>
                                <div class="dropzone">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="upload-icon" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
                                        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                                    </svg>
                                    {% render_field form.image2 class="upload-input"  placeholder="Image" type="file" %}
                                </div>
                                <h3 class="upload-card-info">Click or Drop file to upload</h3> 
                            </div>

                            <div class="upload-card">
                                <h1 class="upload-card-header">Fourth picture</h1>
                                <div class="dropzone">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="upload-icon" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
                                        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                                    </svg>
                                    {% render_field form.image3 class="upload-input"  placeholder="Image" type="file" %}
                                </div>
                                <h3 class="upload-card-info">Click or Drop file to upload</h3> 
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <input class="btn-primary" type="submit" value="Create new listing">
        </form>
        <br>
    </div>
    
{% endblock%}