{% extends "auctions/layout.html" %}
{% load widget_tweaks %}
{% block title %}Register{% endblock %}

{% block body %}
    <div class="body">
        <h2 class="heading">Register</h2>

        {% if message %}
            <div class="warning", style="margin: 10px;"><strong class="error">{{ message }}</strong></div>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <td>
                        <div class="form-group">
                            <input class="form-control" autofocus type="text" name="username" placeholder="Username" value="{{username}}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" placeholder="Email Address", value="{{email}}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                        </div>
                    </td>
                </tr>
            </table>
            <input class="btn-primary" type="submit" value="Register">
        </form>

        <div class="bottom-link"> Already have an account? <a href="{% url 'login' %}">Log In here.</a></div>
    </div>
{% endblock %}