{% extends "auctions/layout.html" %}
{% load widget_tweaks %}
{% block title %}{{user.username}} profile{% endblock %}

{% block body %}
    <div class="listing-body">
        <div class="listing-card" id="profile-wrapper">
            <div style="width: 60%; overflow: hidden; background-color: var(--mainblue); text-align: center;" id="listing-slider", class="card-look">
                <img src="{{user.image.url}}" style="width: 100%;">
            </div>
            <div class="listing-info" style="width: 40%;">
                <div>
                    <h1 id="listing-label">{{user.username}}</h1>
                    <h3 id="listing-price">Member since: </h3>
                    <h3 id="listing-price">{{user.date_joined}}</h3>
                </div>
                <div id="listing-tags" class="gradient-card">
                        <div class="listing-tag-box">
                            Last login:
                            <p>{{user.last_login}}</p>
                        </div>    
                </div>
            </div>
        </div>

        <div class="listing-comments-body">
            <div id="listing-comments-card" class="card-look">
                <div id="listing-comments-header">
                    <h1>Listings by {{user.username}}</h1>
                </div>
                <div class="cards-body">
                    <ul class="cards">
                        {%for entry in user_listings%}
                            <li>
                                <a href="{% url 'listing-page' id=entry.listing.pk %}" class="card" id="{{forloop.counter}}">
                                        <img src="{{entry.listing.image.url}}" class="card__image" alt="listing image"/>
                                        <div class="fav-body">
                                            <svg class="card__fav" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8"/>
                                            </svg>
                                            <div class="fav-icon-body">
                                                <form id="fav-form{{forloop.counter}}" action="{% url 'favourite-listing' id=entry.listing.pk parentId=user.username pos=forloop.counter loc='profilePage' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input id="checkbox{{forloop.counter}}" type="checkbox" class="checkbox" onchange="document.getElementById('fav-form{{forloop.counter}}').submit()">
                                                    <label for="checkbox{{forloop.counter}}" id="fav-icon">
                                                        {% if entry.is_favourite %}
                                                            <svg class="fav-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                            </svg>
                                                        {% else %}
                                                            <svg class="fav-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                            </svg>
                                                        {% endif %}
                                                    </label>
                                                </form>
                                            </div>
                                        </div>
                                    <div class="card__overlay">
                                        <div class="card__header">
                                            <div class="card__header-text">
                                                <h1 class="card__title">{{entry.listing.label}}</h1>       
                                                <div class="card__info">
                                                    <h2 class="card__title" style="display: inline;">Price: </h2><h2 class="card_title" style="display: inline;">{{entry.listing.price}}$</h2>
                                                </div>
                                                
                                                <p class="card__status">Published by {{entry.listing.owner}} on {{entry.listing.date_created}}</p>
                                                
                                            </div>
                                        </div>
                                        <p class="card__description">{{entry.listing.description}}</p>
                                    </div>
                                </a>      
                              </li>
                        {% empty %}
                            <h1>No listings added yet :(</h1>    
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {% if request.user.pk == user.pk or request.user.is_admin %}
            <form action="{% url 'profile-page' username=user.username %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="upload-card" style="width: 100%; margin: auto; animation: fade-in 2s forwards; animation-delay: 1s; opacity: 0; text-align: center;">
                    <h1 class="upload-card-header">Change your picture</h1>
                    <div class="dropzone">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="upload-icon" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
                            <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                        </svg>
                        {% render_field form.image class="upload-input" placeholder="Image" type="file" %}
                    </div>
                    <h3 class="upload-card-info" style="text-align: center;">Click or Drop file to upload</h3> 
                    <input class="btn-primary" type="submit" value="Commit changes" style="margin-top: 10px;">
                </div>
            </form>
        {% endif %}
        <br>
    </div>
{% endblock %}