{% extends "auctions/layout.html" %}
{% block title %}Wishlist{% endblock %}

{% block body %}
    

    <div class="cards-body">
        <h2>Your wishlist</h2>
        <ul class="cards">
            {%for entry in wishlist%}
                <li>
                    <a href="{% url 'listing-page' id=entry.listing.pk %}" class="card" id="{{forloop.counter}}">
                            <img src="{{entry.listing.image.url}}" class="card__image" alt="listing image"/>
                            <div class="fav-body">
                                <svg class="card__fav" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8"/>
                                </svg>
                                <div class="fav-icon-body">
                                    <form id="fav-form{{forloop.counter}}" action="{% url 'favourite-listing' id=entry.listing.pk parentId=request.user pos=forloop.counter loc='wishlist' %}" method="POST">
                                        {% csrf_token %}
                                        <input id="checkbox{{forloop.counter}}" type="checkbox" class="checkbox" onchange="document.getElementById('fav-form{{forloop.counter}}').submit()">
                                        <label for="checkbox{{forloop.counter}}" id="fav-icon">
                                            {% if entry.is_favourite %}
                                                <svg class="fav-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                </svg>
                                            {% else %}
                                                <svg class="fav-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                </svg>
                                            {% endif %}
                                        </label>
                                    </form>
                                </div>
                            </div>
                        <div class="card__overlay">
                            <div class="card__header">
                                <div class="card__header-text">
                                    <h1 class="card__title">{{entry.listing.label}}</h1>       
                                    <div class="card__info">
                                        <h2 class="card__title" style="display: inline;">Price: </h2><h2 class="card_title" style="display: inline;">{{entry.listing.price}}$</h2>
                                    </div>
                                    
                                    <p class="card__status">Published by {{entry.listing.owner}} on {{entry.listing.date_created}}</p>
                                    
                                </div>
                            </div>
                            <p class="card__description">{{entry.listing.description}}</p>
                        </div>
                    </a>      
                  </li>
            {% empty %}
                <h1 style="text-align: center;">No listings added to your wishlist :(</h1>       
            {% endfor %}
        </ul>
    </div>
{% endblock %}
